Création du jeu de données au format Pandas

In [1]:
import pandas as pd
from sklearn.datasets import load_boston

boston = load_boston()
pdf = pd.DataFrame(boston.data, columns=boston.feature_names)

Création de Spark

In [2]:
import findspark
findspark.init()
findspark.find()

import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

Conversion du DataFrame Pandas vers Spark filtre SQL puis reconversion en pandas

In [3]:
df = spark.createDataFrame(pdf)

df.createOrReplaceTempView("boston")

spark.sql("select * from boston where age < 50").toPandas().head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
1,0.09378,12.5,7.87,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71
2,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
3,0.80271,0.0,8.14,0.0,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69
4,0.08014,0.0,5.96,0.0,0.499,5.850,41.5,3.9342,5.0,279.0,19.2,396.90,8.77

On va initialise la UberLib

In [4]:
from uberspark import uber_init
uber_init()

On teste les méthodes que rajoutent la UberLib

In [5]:
spark.doSomething()

Let's do something with spark

In [6]:
df.predict("CRIM", ["TAX", "AGE"])

Predicting CRIM with ['TAX', 'AGE']